/* You can add global styles to this file, and also import other style files */

body { 
    padding:0; 
    margin:0; 
    font-family:'Times New Roman', Times, serif; 
    font-size: xx-large;
    background-color:rgb(97, 119, 105);
    color: black;
  }
  
  button{
      background-color: green;
      font-size: x-large;
      
  }
  